@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&display=swap');

::-webkit-scrollbar {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  outline: none;
}

/* BODY INDEX */
body.index {
  background-color: #1089ff;
  color: #f8f8f8;
}

/* BODY REST */
body.rest{
  background-color: #f8f8f8;
  color: #1089ff;
}

/* BODY INDEX */
body.project {
  background-color: #1089ff;
  color: #110f26;
}

/* HEADER (GENERAL) */
header {
  width: 95%;
  height: 54px;
  margin: 1.5% auto 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.ico {
  cursor: pointer;
  width: 48px;
  height: 54px;
  display: inline-block;
  overflow: hidden;
}

.ico img {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.m {
  cursor: pointer;
  background-color: #ffffff00;
  border: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  overflow: hidden;
  color: #f8f8f8;
}

.m:hover {
  background-color: #f8f8f8;
  color: #dc1354;
}

.mB{
  color: #1089ff;
}

.md {
  display: block;
}

.mm {
  display: none;
}

/* MENU OPEN */
.h {
  display: none;
}

.s {
  display: block;
}

.mBG {
  background-color: #1089ff;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

.mWP {
  background-color: #f8f8f8;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mCB {
  cursor: pointer;
  background-color: #110f26;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.mCB:hover {
  background-color: #dc1354;
}

.x {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  transform: rotate(45deg);
}

ul {
  padding: 0;
  margin: 0;
  display: block;
  width: 645px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  line-height: 120px;
}

ul li a {
  color: #110f26;
  font-size: 100px;
}

ul li a:hover {
  color: #dc1354;
}

/* INDEX */
.wWP {
  cursor: default;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

.w {
  width: 100%;
  font-size: 250px;
  display: flex;
  justify-content: center;
}

.lB {
  cursor: pointer;
  width: 120px;
  height: 48px;
  background-color: #1089ff;
  border: 0;
  color: #f8f8f8;
  font-size: 24px;
  position: absolute;
  top: 90%;
  left: 49.5%;
  transform: translateX(-50.5%);
}

.lB:hover {
  background-color: #f8f8f8;
  color: #dc1354;
  border: 0;
}

/* PROJECTS */
.pWP{
  /*background-color: blue; */
  width: 67%;
  margin: 70px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pI{
  background-color: #1089ff;
  flex-basis: 31.8%;
  padding-top: 31.8%;
  margin-bottom: 2.4%;
}

.pV{
  max-width: 100%;
  object-fit: cover;
  display: block;
  margin-top: -100%;
}

.tB{
  cursor: pointer;
  height: 48px;
  width: 80px;
  background-color: #ffffff00;
  color: #1089ff;
  border: 0;
  font-size: 24px;
  position: relative;
  float: right;
  right: 60px;
  bottom: 10px;
  margin: 0 0 10px 0;
}

.tB:hover{
  color: #dc1354;
}

/* ABOUT */
.aWP{
  width: 67%;
  margin: 70px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aIW{
  flex-basis: 47.5%;
}

.aI{
  display: block;
  width: 100%;
  height: auto;
  background-color: #1089ff;
  margin-bottom: 50px;
}

.aT{
  line-height: 2;
  color: #110f26;
  font-size: 20px;
  margin-bottom: 50px;
}

.lT{
  color: #b3b3b3;
  text-decoration: line-through;
}

.cl{
  color: #dc1354;
}

.co{
  cursor: pointer;
  text-decoration: underline;
}

.co:hover{
  color: #dc1354;
}

.aB{
  cursor: pointer;
  background-color: #1089ff;
  color: #f8f8f8;
  border: 0;
  height: 48px;
  width: 330px;
  font-size: 24px;
  margin-bottom: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.aB:hover{
  background-color: #dc1354;
  text-decoration: underline;
}

.sB{
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  height: 45px;
  margin: 0 auto 35px auto;
}

.sGL{
  height: 39px;
  width: 40px;
  overflow: hidden;
}

.sGL svg{
  fill: #110f26;
}

.sGL svg:hover{
  fill: #dc1354;
}

.sLL{
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.sLL svg{
  fill: #110f26;
}

.sLL svg:hover{
  fill: #dc1354;
}

.sDL{
  height: 45px;
  width: 40px;
  overflow: hidden;
}

.sDL svg{
  fill: #110f26;
}

.sDL svg:hover{
  fill: #dc1354;
}

.sTL{
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.sTL svg{
  fill: #110f26;
}

.sTL svg:hover{
  fill: #dc1354;
}

/* PROJECT 1 = PIZZA JOE */
.pBG{
  width: 90%;
  margin: 2.5% 0 2.5% 0;
  background-color: #f8f8f8;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pT{
  max-width: 55%;
  margin: 50px auto 0 auto;
}

.pT h1{
  color: #110f26;
  font-size: 22px;
  display: flex;
  justify-content: center;
  line-height: 1.8;
}

.pIW{
  max-width: 55%;
  margin: 30px auto 15px auto;
  border: 3px solid #1089ff;
}

.pIW p{
  padding: 50px 12%;
  font-size: 22px;
  color: #110f26;
  line-height: 1.8;
}

.pIP{
  max-width: 55%;
  padding-top: 55%;
  margin: -55% auto 0 auto;
}

.pIP img{
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.eP{
  max-width: 45%;
  margin: 30px auto 50px auto;
}

.eP p{
  font-size: 22px;
  line-height: 1.8;
}

.spB{
  color: #f8f8f8;
  background-color: #1089ff;
}

@media all and (max-width: 767px) {

  /* HEADER GENERAL */
  body{
    padding-top: 2.5%;
  }

  .md{
    display: none;
  }

  .mm{
    display: block;
  }

  /* MENU OPEN MEDIA */
  .mWP{
    width: 100%;
    height: 90%;
  }

  ul{
    width: 387px;;
  }

  ul li{
    line-height: 90px;
  }

  ul li a{
    font-size: 60px;
  }

  .mCB{
    background-color: #dc1354;
  }

  /* INDEX MEDIA */
  .w{
    font-size: 48px;
  }

  /* PROJECTS MEDIA */
  .pWP{
    width: 95%;
  }

  .pI{
    flex-basis: 100%;
    padding-top: 100%;
  }

  .tB{
    right: 5px;
    bottom: 0;
    margin: 0 0 8px 0;
  }

  /* ABOUT MEDIA */
  .aWP{
    width: 95%;
    margin-top: 40px;
  }

  .aIW{
    flex-basis: 100%;
  }

  /* PROJECT MEDIA */

  .pBG{
    width: 100%;
    margin-bottom: 5%;
  }

  .pT{
    width: 100%;
  }

  .pIW{
    max-width: 99%;
  }

  .pIW p{
    padding: 50px 5%;
  }

  .pIP{
    max-width: 99%;
    padding-top: 99%;
    margin: -99% auto 0 auto;
  }

  .eP{
    max-width: 85%;
  }
}
