@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
*{ /* everything before the page loads*/
  text-decoration: none !important;
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  color: #23374d;
  box-sizing: border-box;
  list-style: none;
}

body{ /*html page*/
  background-color: #eeeeee;
  display: block;
}

.container{ /*actual page*/
  max-width: 60%;
  height: 100%;
  margin: 10px auto;
  padding: 0;
}

.header{ /*navBar place holder*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.logo{ /*the logo*/
  cursor: pointer;
  width: 80px;
  vertical-align: middle;
}

.mainNav li{ /*navigation list buttons*/
  display: inline-block;
  padding: 0p 20px;
  margin-left: 80px;
}

.mainNav li a:hover{ /*hover colour change*/
  color: #1089ff;
}

.page-dividerT{ /*top page divider*/
  border-bottom: 1px solid #e5e5e5;
}

    /* ========================Index============================= */

.category{ /*flex layout*/
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.indexTumbnail{ /*place holder for the images*/
  cursor: pointer;
  position: relative;
  background-color: #e5e5e5;
  flex-basis: 31.8%;
  height: 31.8%;
  margin-bottom: 2.4%;
}

.preview{ /*the image*/
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.overlay{ /*overlay colour background+ opacity change*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  weight: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgb(229, 229, 229, .70);
}

.indexTumbnail:hover .overlay{ /*opacity change animation*/
  opacity: 1;
}

.text { /*info text*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-dividerB{ /*page divider bottom*/
  padding-top: 50px;
  border-bottom: 1px solid #e5e5e5;
}
footer{ /*footer*/
  display: flex;
  flex-direction: column;
  height: 50px;

}

.footer{ /*placeholder for text*/
margin: auto;
}

.footer a:hover{ /*text hover colour change*/
  color: #1089ff;
}

    /* ========================404============================= */

.comingsoon img{
  max-width: 60%;
  max-height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

    /* ========================Contact============================= */

.contactContainer{
  padding-top: 50px;
  height: 72vh;
  display: flex;
  position: relative;
  line-height: 1.5;
}

.contactInfoWrap{
  width: 50%;
  display: block;
  position: relative;
}

.contactInfo{
  position: absolute;
  width: 85%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.contactTitle{
  font-weight: bold;
  font-size: 43.8px;
  margin-bottom: 5px;
}

.contactLinkWrap{
  width: 50%;
  position: relative;
}

.contactLink{
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactTumbnail{
  cursor: pointer;
  position: relative;
  flex-basis: 48%;
  height: 48%;
  margin-bottom: 4%;
  background-color: #e5e5e5;
}

    /* ========================About============================= */

.aboutContainer{
  padding-top: 50px;
  height: 72vh;
  display: flex;
  position: relative;
  line-height: 1.5;
  justify-content: space-between;
}

.imageWrap{
  width: 47.5%;
  display: block;
  position: relative;
}

.aboutImage{
  cursor: pointer;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
}

.aboutInfo{
  width: 47.5%;
  display: block;
  position: relative;
}

.portfolioLink{
  background-color: #23374d;
  height: 50px;
  width: 200px;
  margin-bottom: 10px;
}

.portfolioText{
  color: #eeeeee;
  position: relative;
  left: 25%;
  top: 25%;
}

    /* ========================Media Queries============================= */

@media (min-width: 768px) and (max-width: 1024px) {

  /* page width */
  .container {
    max-width: 75%;
  }

      /* Header */
  .mainNav li a{
    font-size: 15px;
  }
  .mainNav li{
    margin-left: 60px;
  }

    /* ========================Media Contact============================= */

  .contactTitle{
    font-size: 38px;
  }

  .contactText{
    font-size: 14px;
  }

  .contactInfo{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

      /* ========================Media About============================= */

  .portfolioLink{
    font-size: 30px;
    margin:10px auto;
    height: 50px;
    width: 200px;
  }

  .portfolioText{
    top: 0%;
  }

  .aboutText{
    font-size: 15px;
  }

  .aboutContainer{
    display: block;
    height: 100vh;
    justify-content: center;
  }

  .imageWrap{
    width: 50%;
    width: 100%;
    position: relative;
    display: block;
  }

  .aboutInfo{
    height: 50%;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    display: block;
  }

  .dividerAbout{
    margin-top: 170px;
  }

}

@media all and (max-width: 767px) {

  /* page width */
  .container{
    max-width: 95%;
  }

  .mainNav li a{
    font-size: 15px;
  }
  .mainNav li{
    margin-left: 30px;
  }

      /* ========================Media Index============================= */

  .indexTumbnail{ /*place holder for the images*/
    cursor: pointer;
    position: relative;
    background-color: #e5e5e5;
    flex-basis: 49.4%;
    height: 49.4%;
    margin-bottom: 1.2%;
  }

      /* ========================Media Contact============================= */

  .contactContainer{
    display: block;
  }

  .contactInfoWrap{
    margin-top: 20px;
    height: 30%;
    width: 100%;
    display: block;
    position: relative;
  }

  .contactInfo{
    width: 70%;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -45%);;
  }

  .contactLinkWrap{
    margin-top: 10px;
    height: 50%;
    width: 100%;
    position: relative;
  }

  .contactTumbnail{
    cursor: pointer;
    flex-basis: 31.8%;
    height: 31.8%;
    margin-bottom: 2.4%;
  }

  .contactTitle{
    font-size: 35px;
  }

    /* ========================Media About============================= */

  .portfolioLink{
    font-size: 30px;
    margin:10px auto;
    height: 50px;
    width: 200px;
  }

  .portfolioText{
    top: 0%;
  }

  .aboutText{
    font-size: 15px;
  }

  .aboutContainer{
    padding-left: 2%;
    display: block;
    height: 100vh;
    justify-content: center;
  }

  .imageWrap{
    width: 100%;
    position: relative;
    display: block;
  }

  .aboutInfo{
    height: 50%;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    display: block;
  }

  .dividerAbout{
    margin-top: 170px;
  }
}
