@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&display=swap');

*{
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: gothBold, Montserrat, sans-serif;
    font-size: 14px;
    color: #f8f8f8;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

@font-face {
  font-family: 'gothBold';
  src: url(../fonts/Goth-Bold.ttf);
  font-style: normal;
  font-weight: 100;
}

body{
  background-color: #1089ff;
  margin: 0;
  padding-top: 1.5%;
}

header{
  width: 95%;
  height: 48px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.icon{
  cursor: pointer;
  background-color: #f8f8f8;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.hidden{
  display: none;
}

.show{
  display: block;
}

.menu{
  cursor: pointer;
  /*background-color: #f8f8f8; */
  width: 68px;
  height: 40px;
  margin-top: 4px;
  display: inline-block;
  padding: 0;
  vertical-align: top;
  overflow: hidden;
}

.menu p{
  color: #f8f8f8;
  font-size: 48px;
  margin: 0;
  margin-top: -11px;
  margin-left: -3.8px;
}

.menuBG{
  background-color: #1089ff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.menuWP{
  background-color: #f8f8f8;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuC{
  cursor: pointer;
  background-color: #110f26;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.menuC:hover{
  background-color: #dc1354;
}

.x1{
  background-color: #f8f8f8;
  height: 5px;
  width: 20px;
  position: absolute;
  top: 12.6px;
  left: 4.5px;
  transform: rotate(45deg);
}

.x2{
  background-color: #f8f8f8;
  height: 5px;
  width: 20px;
  position: absolute;
  top: 12.9px;
  left: 5px;
  transform: rotate(-45deg);
}

ul{
  padding: 0;
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 645px;
}

li{
  /*text-align: center; */
  line-height: 120px;
}

a{
  color: #110f26;
  font-size: 100px;
}

a:hover{
  color: #dc1354;
}

.welcome{
  cursor: default;
  margin: 0;
  width: 100%;
  font-size: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

.smallW{
  cursor: default;
  margin: 0;
  width: 100%;
  font-size: 165px;
  line-height: 145px;
  text-align: center;
  overflow: hidden;
  display: none;
  position: absolute;
  top: 49%;
  transform: translateY(-51%);
}

.more{
  cursor: pointer;
  width: 120px;
  height: 48px;
  background-color: #f8f8f8;
  position: absolute;
  top: 90%;
  left: 49%;
  transform: translateX(-51%);
}

.more p{
  font-size: 24px;
  color: #110f26;
  margin: 0;
  padding-top: 11px;
  padding-left: 20px;
}

.more p:hover{
  color: #dc1354;
}


 /* ========== Media Query ========== */

@media all and (max-width: 767px) {

  body{
    padding-top: 2.5%;
  }

  .menuWP{
    height: 90%;
    width: 100%;
  }

  ul{
    width: 387px;
  }

  li{
    line-height: 90px;
  }

  a{
    font-size: 60px;
  }

  .menuC{
    background-color: #dc1354;
  }

  .more p{
    color: #dc1354;
  }

  .welcome{
    display: none;
  }

  .smallW{
    display: block;
  }

}
